@using Folio.Models;


<div class="d-flex justify-content-center">
    <div class=@(Vertical ? "vertical" : "horizontal") style="border-radius:0.125em"></div>
</div>


@code {
    [Parameter] public bool Vertical { get; set; }
}

<style>
    .vertical {
        background-color: @AppConst.colorTint;
        width: @(AppConst.narrowBorder);
        height: 10rem;
        margin: 2rem;
    }

    .horizontal {
        background-color: @AppConst.colorTint;
        width: @(AppConst.mobile ? "80%" : "40%");
        height: @(AppConst.narrowBorder);
        margin: 2rem;
    }
</style>
