@using Folio.Models;

<div class="navbar sticky-top">
    <div class="navbar-nav">
        @for (int i = 0; i < _infos.Length; i++) {
            int index = i;
            <div class="nav-item m-1">
                <NavLink class="nav-link animated" href="@_infos[index].id">
                    <i class="m-1 @_infos[index].icon" style="font-size:inherit; color:inherit"></i>
                    @if (!AppConst.mobile) {
                        @_infos[index].name
                    }
                </NavLink>
            </div>
        }
    </div>
</div>


@code {
    #region Variables
    private string _appName = "MyApp";
    private PageModel[] _infos = new PageModel[] { };
    #endregion

    protected override Task OnInitializedAsync() {
        _infos = new PageModel[] {
            new PageModel("#about", "About me", "bi-person"),
            new PageModel("#pro", "Professionnal projects", "bi-archive"),
            new PageModel("#perso", "Personnal projects", "bi-archive"),
            new PageModel("#skills", "Skills", "bi-file-person"),
            new PageModel("#contacts", "Contacts", "bi-envelope-at"),
    };

        AppConst.OnGetSize += () => StateHasChanged();

        return base.OnInitializedAsync();
    }
}


<style>
    .navbar {
        width: 100%;
        height: 3rem;
        background-color: @AppConst.colorTint;
        justify-content: center;
    }

        .navbar .navbar-nav {
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

            .navbar .navbar-nav .nav-item {
                flex-grow: 1;
            }

                .navbar .navbar-nav .nav-item .nav-link {
                    font-size: 1rem;
                    color: @AppConst.dark;
                    transition-property: color;
                }

                    .navbar .navbar-nav .nav-item .nav-link:hover {
                        color: @AppConst.light;
                        transition-property: color;
                    }

</style>
